@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
/*------------------------------------------ estilos del contenido main  iNDEX.HTML------------------------------------------------------*/
/* inicio de estilos caja presentación*/
.caja__principal__parrafo p {
  text-align: left;
  max-width: 600px;
  font-size: 23px;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 3.5rem;
  color: #3CACAE; }

/*background y titulo precentacion*/
.parrafoPrincipalPresentacion {
  background-image: url(/multimedia/imagenes/1.svg), url(/multimedia/imagenes/normativa-drones-espana-aesa.jpg);
  background-size: cover;
  background-position: center;
  max-width: 100%; }
  .parrafoPrincipalPresentacion .h2 {
    font-weight: 900;
    display: inline-block;
    padding-top: 5px; }

/*estilos de icono alusivos a servicios prestados*/
.iconos {
  position: relative;
  display: flex;
  margin-top: 60px;
  margin-bottom: 70px;
  flex-wrap: nowrap;
  max-width: 300px; }
  .iconos .iconos_texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1000px; }

/* carrusel de logotipos de empresas colaboradoras*/
.caja-carrusel {
  width: 300px;
  height: 300px; }

.titulo-carrusel {
  font-weight: 700;
  font-size: 30px;
  color: #000; }

/*fin de estilos caja presentación*/
.conte__contactos {
  background-color: none;
  width: 100%;
  height: 100vh;
  background-image: url(/multimedia/imagenes/drone-pilot-jobs.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.fondo__navBar--contactos {
  opacity: 0.8;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 70px;
  background-color: rgba(41, 169, 201, 0.534) !important; }

.containerContacto p {
  color: #3CACAE !important;
  font-weight: 600;
  font-size: 20px; }

.containerContacto {
  display: flex;
  align-content: center;
  flex-direction: column; }

.containerContacto h2 {
  padding-left: 2em;
  text-align: center;
  font-size: 900; }

.containerContacto__tituloPrincipal {
  text-align: center; }

.containerContacto__texto {
  display: flex;
  align-content: center;
  text-align: left;
  max-width: 40em; }

.form-register {
  padding-left: 5; }

.formulario-de-contacto {
  display: flex;
  align-items: center;
  width: 20em;
  background-color: rgba(150, 195, 206, 0.534);
  border-radius: 4px;
  color: #000;
  box-shadow: 7px 13px 37px rgba(41, 169, 201, 0.534); }

.contenido__form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-weight: 600;
  font-size: 20px; }

.contenido__form--estilos h4 {
  font-size: 28px;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 10px;
  font-weight: 800; }

.controls {
  margin-left: 5px;
  margin-top: 10px;
  width: 100%;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid rgba(41, 169, 201, 0.534);
  font-size: 20px;
  font-weight: 500;
  color: #000; }

.contenido__form--estilos p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  margin-left: 5px;
  font-weight: 600; }

.contenido__form--estilos a {
  color: #000;
  text-decoration: none; }

.contenido__form--estilos a:hover {
  color: #000;
  text-decoration: underline; }

#texArea {
  resize: none;
  background-color: #fff;
  border: 1px solid rgba(41, 169, 201, 0.534);
  font-weight: 400; }

.contenido__form--estilos .boton {
  width: 50%;
  background: #000;
  border-radius: 20px;
  padding: 5px;
  color: #fff;
  font-weight: 600;
  margin: 16px 0;
  font-size: 16px;
  box-shadow: 7px 13px 37px rgba(41, 169, 201, 0.534); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* -----------------------------------------------------------------------------------------
------- ESTILOS DE LA PAGINA index.html
--------- &
--------ENCABEZADO DE TODAS LAS PAGINAS HTML
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.conte {
  width: 100%;
  height: 100vh;
  background-color: #000; }

.conte__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.8;
  z-index: 0; }

/* sobre capa del video */
.conte__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #3CACAE;
  mix-blend-mode: hard-light; }

/* estilos menu */
.nav-link {
  font-size: 1.2em;
  color: #000 !important;
  font-weight: 700; }

.fondo__navBar {
  height: 70px;
  background: #3cacae;
  background: -moz-linear-gradient(45deg, #3cacae 0%, #c8f4f9 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #3cacae), color-stop(100%, #c8f4f9));
  background: -webkit-linear-gradient(45deg, #3cacae 0%, #c8f4f9 100%);
  background: -o-linear-gradient(45deg, #3cacae 0%, #c8f4f9 100%);
  background: -ms-linear-gradient(45deg, #3cacae 0%, #c8f4f9 100%);
  background: linear-gradient(45deg, #3cacae 0%, #c8f4f9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3cacae', endColorstr='#c8f4f9', GradientType=1); }

.navbar li {
  margin: 2em;
  display: inline;
  font-size: 1em;
  /* animación menu */ }
  .navbar li a:hover {
    color: #fff !important; }

.nav ul {
  display: flex;
  top: 30em; }

.collapse {
  align-items: center;
  flex-direction: column; }

.navbar-brand {
  font-weight: 900;
  font-size: 2rem;
  border-radius: 30px; }
  .navbar-brand li {
    margin: 2em;
    display: inline;
    font-size: 1em; }

/* estilo logo */
.conte__logo {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 10;
  cursor: pointer;
  top: 200px; }
  .conte__logo a {
    text-decoration: none; }

/* estilos del titulo    */
.contenedor_titulo {
  align-content: center;
  top: 10em;
  position: absolute;
  right: 0;
  left: 0; }

.conte__logo--titulo h1 {
  color: #fff;
  text-transform: capitalize;
  z-index: 10;
  font-size: 3em;
  font-weight: 700;
  line-height: 1em;
  align-items: center; }

/*---------------------- estilos del menu de la redes ----------------------------------------------------*/
.navRedes__ul {
  display: inline;
  z-index: 10; }
  .navRedes__ul.li {
    list-style: none;
    padding: 2em;
    position: relative; }

.navRedes__ul li a {
  display: inline-block;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s; }
  .navRedes__ul li a:hover {
    transform: scale(0.5) translateY(-15px); }

.navRedes {
  position: absolute;
  display: inline;
  z-index: 10;
  bottom: 10em;
  right: 20px;
  height: -40; }

/*------------------------------------------  estilos del footer de todas las paginas html ------------------------------------------------*/
.form-outline {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important; }

.textofooter {
  margin: 10px !important; }

.fondo__footer {
  background: #c8f4f9;
  background: -moz-linear-gradient(45deg, #c8f4f9 0%, #3cacae 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #c8f4f9), color-stop(100%, #3cacae));
  background: -webkit-linear-gradient(45deg, #c8f4f9 0%, #3cacae 100%);
  background: -o-linear-gradient(45deg, #c8f4f9 0%, #3cacae 100%);
  background: -ms-linear-gradient(45deg, #c8f4f9 0%, #3cacae 100%);
  background: linear-gradient(45deg, #c8f4f9 0%, #3cacae 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8f4f9', endColorstr='#3cacae', GradientType=1); }

/* ---------------------------------------- fin del footer
------------------------------------------*/
/*-----------------------------""""Media-Queries""""--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1000px) {
  .parrafoPrincipalPresentacion {
    background-image: none;
    background-color: #fff; } }
@media only screen and (max-width: 600px) {
  .parrafoPrincipalPresentacion h2 {
    margin-left: 0;
    display: flex;
    justify-content: center; }

  .conte__logo--titulo h1 {
    text-align: center; } }
@media only screen and (max-width: 1000px) {
  .conte__menu--barraMenu li {
    width: 100px !important;
    padding: 1em; }

  .navbar-collapse {
    background-color: #41cabf !important;
    z-index: 11;
    opacity: 0.8;
    text-align: center;
    width: 30px !important; } }
/* esta media query es para mas adelante agregarle java scrip y hacer un menu interactivo (cuando lo aprenda xD ) */
@media only screen and (max-width: 871px) and (min-width: 600px) {
  /* mapa Contáctanos */
  .contenido__form {
    flex-direction: column; }

  .conte__logo--titulo h1 {
    font-size: 2rem; } }
/* modificación para nav redes */
@media only screen and (max-width: 470px) {
  .navRedes__ul li {
    padding: 0px;
    margin: 0; }

  /* para quitar el logo en una resolución reducida,para una mejor experiencia del usuario */
  .conte__logo--icono {
    display: none; }

  .navbar-brand {
    margin-left: 1rem; }

  /* modificación del titulo */
  h1 {
    text-align: center; }

  /* iframe Contáctanos.index */
  .contenido__form iframe {
    width: 200px; } }
@media only screen and (min-width: 250px) and (max-width: 450px) {
  .contenido__form iframe {
    width: 250px; }

  .contenido__form--estilos {
    width: 15rem; } }
/* le quito la animaciones a la pantalla pequeña por que la clase hover no se aplica */
@media screen and (max-width: 992px) {
  figure .trasera {
    backface-visibility: visible;
    transform: perspective(600px) rotateY(0deg); }

  .contenedor_tarjeta:hover figure {
    transform: perspective(600px) rotateY(0deg); }

  .quienesSomos__article__caja__texto p {
    margin-left: 1em;
    margin-right: 0.5em; } }
/* pagina nuestros servicios */
@media screen and (max-width: 950px) {
  .servicios__caja3 {
    display: flex;
    padding: 0;
    position: relative;
    width: 100%;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row; } }
@media screen and (min-width: 200px) and (max-width: 1156px) {
  .servicios__caja1 {
    flex-wrap: wrap;
    flex-direction: column; }

  .servicios__caja2 {
    flex-direction: column; } }
@media screen and (max-width: 700px) {
  .iconos {
    flex-wrap: wrap; } }

/*# sourceMappingURL=style.css.map */
