@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
/*------------------------------------------ estilos del contenido main  iNDEX.HTML------------------------------------------------------*/
/* inicio de estilos caja presentación*/
.caja__principal__parrafo p {
  text-align: left;
  max-width: 600px;
  font-size: 23px;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 3.5rem;
  color: #3CACAE; }

/*background y titulo precentacion*/
.parrafoPrincipalPresentacion {
  background-image: url(/multimedia/imagenes/1.svg), url(/multimedia/imagenes/normativa-drones-espana-aesa.jpg);
  background-size: cover;
  background-position: center;
  max-width: 100%; }
  .parrafoPrincipalPresentacion .h2 {
    font-weight: 900;
    display: inline-block;
    padding-top: 5px; }

/*estilos de icono alusivos a servicios prestados*/
.iconos {
  position: relative;
  display: flex;
  margin-top: 60px;
  margin-bottom: 70px;
  flex-wrap: nowrap;
  max-width: 300px; }
  .iconos .iconos_texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1000px; }

/* carrusel de logotipos de empresas colaboradoras*/
.caja-carrusel {
  width: 300px;
  height: 300px; }

.titulo-carrusel {
  font-weight: 700;
  font-size: 30px;
  color: #000; }

/*fin de estilos caja presentación*/
.conte__contactos {
  background-color: none;
  width: 100%;
  height: 100vh;
  background-image: url(/multimedia/imagenes/drone-pilot-jobs.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.fondo__navBar--contactos {
  opacity: 0.8;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 70px;
  background-color: rgba(41, 169, 201, 0.534) !important; }

.containerContacto p {
  color: #3CACAE !important;
  font-weight: 600;
  font-size: 20px; }

.containerContacto {
  display: flex;
  align-content: center;
  flex-direction: column; }

.containerContacto h2 {
  padding-left: 2em;
  text-align: center;
  font-size: 900; }

.containerContacto__tituloPrincipal {
  text-align: center; }

.containerContacto__texto {
  display: flex;
  align-content: center;
  text-align: left;
  max-width: 40em; }

.form-register {
  padding-left: 5; }

.formulario-de-contacto {
  display: flex;
  align-items: center;
  width: 20em;
  background-color: rgba(150, 195, 206, 0.534);
  border-radius: 4px;
  color: #000;
  box-shadow: 7px 13px 37px rgba(41, 169, 201, 0.534); }

.contenido__form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-weight: 600;
  font-size: 20px; }

.contenido__form--estilos h4 {
  font-size: 28px;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 10px;
  font-weight: 800; }

.controls {
  margin-left: 5px;
  margin-top: 10px;
  width: 100%;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid rgba(41, 169, 201, 0.534);
  font-size: 20px;
  font-weight: 500;
  color: #000; }

.contenido__form--estilos p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  margin-left: 5px;
  font-weight: 600; }

.contenido__form--estilos a {
  color: #000;
  text-decoration: none; }

.contenido__form--estilos a:hover {
  color: #000;
  text-decoration: underline; }

#texArea {
  resize: none;
  background-color: #fff;
  border: 1px solid rgba(41, 169, 201, 0.534);
  font-weight: 400; }

.contenido__form--estilos .boton {
  width: 50%;
  background: #000;
  border-radius: 20px;
  padding: 5px;
  color: #fff;
  font-weight: 600;
  margin: 16px 0;
  font-size: 16px;
  box-shadow: 7px 13px 37px rgba(41, 169, 201, 0.534); }

.servicios__caja1 {
  display: flex;
  padding: 0;
  position: relative;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap; }
  .servicios__caja1 h2 {
    color: #3CACAE; }

.servicios__titulos_fondo {
  background-color: #d6d6d6;
  padding: 60px 50px;
  display: flex;
  min-width: 150px;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  text-align: center; }

.servicios__titulos {
  background-color: #dfdddd;
  padding: 60px 50px;
  display: flex;
  min-width: 150px;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  text-align: center; }

.servicios__caja2 {
  background: #bcc4c4;
  background: -moz-linear-gradient(45deg, #bcc4c4 0%, #e2e8e8 65%, #f7fcfc 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #bcc4c4), color-stop(65%, #e2e8e8), color-stop(100%, #f7fcfc));
  background: -webkit-linear-gradient(45deg, #bcc4c4 0%, #e2e8e8 65%, #f7fcfc 100%);
  background: -o-linear-gradient(45deg, #bcc4c4 0%, #e2e8e8 65%, #f7fcfc 100%);
  background: -ms-linear-gradient(45deg, #bcc4c4 0%, #e2e8e8 65%, #f7fcfc 100%);
  background: linear-gradient(45deg, #bcc4c4 0%, #e2e8e8 65%, #f7fcfc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcc4c4', endColorstr='#f7fcfc', GradientType=1);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  padding: 130px 10%;
  overflow: hidden;
  color: #000; }
  .servicios__caja2 p {
    font-family: 'Grechen Fuemen', cursive;
    font-weight: 900;
    font-size: 1.7em;
    letter-spacing: 0.1em;
    margin: 1.5rem; }

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.button {
  min-width: 10rem;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
  color: #000;
  background-color: #3CACAE;
  border: none;
  border-radius: 100px;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px; }

.button::before {
  content: '';
  border-radius: 10rem;
  min-width: calc(200px + 12px);
  min-height: calc(60px + 12px);
  border: 5px solid #0A758F;
  box-shadow: 0 0 60px #3CACAE;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s; }

.button:hover,
.button:focus {
  color: #fff;
  transform: translateY(-6px); }

.button:hover::before,
.button:focus::before {
  opacity: 1; }

.button::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #3CACAE;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.servicios__caja3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  gap: 1em;
  background-color: #fff; }
  .servicios__caja3 p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    color: #000;
    margin: 1.5rem; }

.servicios__caja3--foto--1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 100%;
  width: 100%; }

.sevicios__caja3--parrafo--1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2; }

.servicios__caja3--foto--2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 100%;
  width: 100%; }

.sevicios__caja3--parrafo--2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3; }

.servicios__caja3--foto--3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  height: 100%;
  width: 100%; }

.sevicios__caja3--parrafo-3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4; }

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

                                       estilos de la pagina trabajos realizados


------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.background__main__trabajos {
  background: #dae0dd; }

.title__trabajosRealizados {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  color: #3CACAE;
  margin-top: 30px;
  text-transform: capitalize; }

/* -----------------------------------------------------------------------------------------------------------------------------------estilos del contenedor de las animaciones de la pagina nuestros servicios ------------------------------------------------------------------------------------------------------------------------------- */
.contenedor {
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.contenedor_tarjeta {
  margin: 20px; }
  .contenedor_tarjeta a {
    display: inline-block; }
  .contenedor_tarjeta:hover figure {
    transform: perspective(600px) rotateY(180deg);
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25); }

figure {
  width: 300px;
  height: 350px;
  margin: 0;
  position: relative;
  transition: all ease .5s;
  transform-style: preserve-3d;
  transform: perspective(600px) rotateY(0deg); }
  figure .frontal {
    display: block;
    background: #000;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all ease .5s; }
  figure .trasera {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all ease .5s;
    position: absolute;
    top: 0;
    padding: 20px;
    color: #fff;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    overflow: auto; }
    figure .trasera .titulo {
      color: #fff;
      font-weight: normal;
      margin-bottom: 20px;
      font-family: 'Roboto', sans-serif;
      font-size: 24px; }
    figure .trasera hr {
      height: 2px;
      background: #fff;
      border: none;
      margin-bottom: 20px;
      opacity: .5; }
    figure .trasera p {
      font-family: 'Open Sans', sans-serif;
      line-height: 22px;
      font-size: 14px; }

/* fondo que es visible una vez que la imagen hace la animacion y gira sirve para poder ver mas claro el titulo y el parrafo, lo genere con la paleta de colores de la imagen la carge en "https://www.canva.com/it_it/" de ahoi tome los colores para poder usar "https://www.cssmatic.com/" que genera un fondo en degrades y codigo para casi todos los exploradores*/
.contenedor_tarjeta:nth-child(1) figure .trasera {
  background: #2e4a75;
  background: -moz-linear-gradient(left, #2e4a75 0%, rgba(46, 74, 117, 0.63) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #2e4a75), color-stop(100%, rgba(46, 74, 117, 0.63)));
  background: -webkit-linear-gradient(left, #2e4a75 0%, rgba(46, 74, 117, 0.63) 100%);
  background: -o-linear-gradient(left, #2e4a75 0%, rgba(46, 74, 117, 0.63) 100%);
  background: -ms-linear-gradient(left, #2e4a75 0%, rgba(46, 74, 117, 0.63) 100%);
  background: linear-gradient(to right, #2e4a75 0%, rgba(46, 74, 117, 0.63) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e4a75', endColorstr='#2e4a75', GradientType=1); }

.contenedor_tarjeta:nth-child(2) figure .trasera {
  background: #743b9a;
  background: -moz-linear-gradient(left, #743b9a 0%, rgba(195, 136, 102, 0.63) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #743b9a), color-stop(100%, rgba(195, 136, 102, 0.63)));
  background: -webkit-linear-gradient(left, #743b9a 0%, rgba(195, 136, 102, 0.63) 100%);
  background: -o-linear-gradient(left, #743b9a 0%, rgba(195, 136, 102, 0.63) 100%);
  background: -ms-linear-gradient(left, #743b9a 0%, rgba(195, 136, 102, 0.63) 100%);
  background: linear-gradient(to right, #743b9a 0%, rgba(195, 136, 102, 0.63) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#743b9a', endColorstr='#c38866', GradientType=1); }

.contenedor_tarjeta:nth-child(3) figure .trasera {
  background: #221d0b;
  background: -moz-linear-gradient(left, #221d0b 0%, rgba(135, 141, 68, 0.63) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #221d0b), color-stop(100%, rgba(135, 141, 68, 0.63)));
  background: -webkit-linear-gradient(left, #221d0b 0%, rgba(135, 141, 68, 0.63) 100%);
  background: -o-linear-gradient(left, #221d0b 0%, rgba(135, 141, 68, 0.63) 100%);
  background: -ms-linear-gradient(left, #221d0b 0%, rgba(135, 141, 68, 0.63) 100%);
  background: linear-gradient(to right, #221d0b 0%, rgba(135, 141, 68, 0.63) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#221d0b', endColorstr='#878d44', GradientType=1); }

.contenedor_tarjeta:nth-child(4) figure .trasera {
  background: #645a52;
  background: -moz-linear-gradient(left, #645a52 0%, rgba(185, 152, 144, 0.63) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #645a52), color-stop(100%, rgba(185, 152, 144, 0.63)));
  background: -webkit-linear-gradient(left, #645a52 0%, rgba(185, 152, 144, 0.63) 100%);
  background: -o-linear-gradient(left, #645a52 0%, rgba(185, 152, 144, 0.63) 100%);
  background: -ms-linear-gradient(left, #645a52 0%, rgba(185, 152, 144, 0.63) 100%);
  background: linear-gradient(to right, #645a52 0%, rgba(185, 152, 144, 0.63) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#645a52', endColorstr='#b99890', GradientType=1); }

.contenedor_tarjeta:nth-child(5) figure .trasera {
  background: #6a5d33;
  background: -moz-linear-gradient(left, #6a5d33 0%, rgba(185, 152, 144, 0.63) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #6a5d33), color-stop(100%, rgba(185, 152, 144, 0.63)));
  background: -webkit-linear-gradient(left, #6a5d33 0%, rgba(185, 152, 144, 0.63) 100%);
  background: -o-linear-gradient(left, #6a5d33 0%, rgba(185, 152, 144, 0.63) 100%);
  background: -ms-linear-gradient(left, #6a5d33 0%, rgba(185, 152, 144, 0.63) 100%);
  background: linear-gradient(to right, #6a5d33 0%, rgba(185, 152, 144, 0.63) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6a5d33', endColorstr='#b99890', GradientType=1); }

.contenedor_tarjeta:nth-child(6) figure .trasera {
  background: #3e4858;
  background: -moz-linear-gradient(left, #3e4858 0%, rgba(132, 150, 160, 0.63) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #3e4858), color-stop(100%, rgba(132, 150, 160, 0.63)));
  background: -webkit-linear-gradient(left, #3e4858 0%, rgba(132, 150, 160, 0.63) 100%);
  background: -o-linear-gradient(left, #3e4858 0%, rgba(132, 150, 160, 0.63) 100%);
  background: -ms-linear-gradient(left, #3e4858 0%, rgba(132, 150, 160, 0.63) 100%);
  background: linear-gradient(to right, #3e4858 0%, rgba(132, 150, 160, 0.63) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e4858', endColorstr='#8496a0', GradientType=1); }

.contenedor_tarjeta:nth-child(7) figure .trasera {
  background: #65674e;
  background: -moz-linear-gradient(left, #65674e 0%, rgba(132, 150, 160, 0.63) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #65674e), color-stop(100%, rgba(132, 150, 160, 0.63)));
  background: -webkit-linear-gradient(left, #65674e 0%, rgba(132, 150, 160, 0.63) 100%);
  background: -o-linear-gradient(left, #65674e 0%, rgba(132, 150, 160, 0.63) 100%);
  background: -ms-linear-gradient(left, #65674e 0%, rgba(132, 150, 160, 0.63) 100%);
  background: linear-gradient(to right, #65674e 0%, rgba(132, 150, 160, 0.63) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#65674e', endColorstr='#8496a0', GradientType=1); }

.contenedor_tarjeta:nth-child(8) figure .trasera {
  background: #65674e;
  background: -moz-linear-gradient(left, #65674e 0%, rgba(174, 191, 114, 0.63) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #65674e), color-stop(100%, rgba(174, 191, 114, 0.63)));
  background: -webkit-linear-gradient(left, #65674e 0%, rgba(174, 191, 114, 0.63) 100%);
  background: -o-linear-gradient(left, #65674e 0%, rgba(174, 191, 114, 0.63) 100%);
  background: -ms-linear-gradient(left, #65674e 0%, rgba(174, 191, 114, 0.63) 100%);
  background: linear-gradient(to right, #65674e 0%, rgba(174, 191, 114, 0.63) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#65674e', endColorstr='#aebf72', GradientType=1); }

.contenedor_tarjeta:nth-child(9) figure .trasera {
  background: #315f14;
  background: -moz-linear-gradient(left, #315f14 0%, rgba(49, 95, 20, 0.63) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #315f14), color-stop(100%, rgba(49, 95, 20, 0.63)));
  background: -webkit-linear-gradient(left, #315f14 0%, rgba(49, 95, 20, 0.63) 100%);
  background: -o-linear-gradient(left, #315f14 0%, rgba(49, 95, 20, 0.63) 100%);
  background: -ms-linear-gradient(left, #315f14 0%, rgba(49, 95, 20, 0.63) 100%);
  background: linear-gradient(to right, #315f14 0%, rgba(49, 95, 20, 0.63) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#315f14', endColorstr='#315f14', GradientType=1); }

.contenedor_tarjeta:nth-child(10) figure .trasera {
  background: #6ea5cb;
  background: -moz-linear-gradient(left, #6ea5cb 0%, rgba(127, 193, 229, 0.63) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #6ea5cb), color-stop(100%, rgba(127, 193, 229, 0.63)));
  background: -webkit-linear-gradient(left, #6ea5cb 0%, rgba(127, 193, 229, 0.63) 100%);
  background: -o-linear-gradient(left, #6ea5cb 0%, rgba(127, 193, 229, 0.63) 100%);
  background: -ms-linear-gradient(left, #6ea5cb 0%, rgba(127, 193, 229, 0.63) 100%);
  background: linear-gradient(to right, #6ea5cb 0%, rgba(127, 193, 229, 0.63) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6ea5cb', endColorstr='#7fc1e5', GradientType=1); }

.contenedor_tarjeta:nth-child(11) figure .trasera {
  background: #3c5a16;
  background: -moz-linear-gradient(left, #3c5a16 0%, rgba(138, 190, 139, 0.63) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #3c5a16), color-stop(100%, rgba(138, 190, 139, 0.63)));
  background: -webkit-linear-gradient(left, #3c5a16 0%, rgba(138, 190, 139, 0.63) 100%);
  background: -o-linear-gradient(left, #3c5a16 0%, rgba(138, 190, 139, 0.63) 100%);
  background: -ms-linear-gradient(left, #3c5a16 0%, rgba(138, 190, 139, 0.63) 100%);
  background: linear-gradient(to right, #3c5a16 0%, rgba(138, 190, 139, 0.63) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c5a16', endColorstr='#8abe8b', GradientType=1); }

.contenedor_tarjeta:nth-child(12) figure .trasera {
  background: #5a4839;
  background: -moz-linear-gradient(left, #5a4839 0%, rgba(175, 165, 156, 0.63) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #5a4839), color-stop(100%, rgba(175, 165, 156, 0.63)));
  background: -webkit-linear-gradient(left, #5a4839 0%, rgba(175, 165, 156, 0.63) 100%);
  background: -o-linear-gradient(left, #5a4839 0%, rgba(175, 165, 156, 0.63) 100%);
  background: -ms-linear-gradient(left, #5a4839 0%, rgba(175, 165, 156, 0.63) 100%);
  background: linear-gradient(to right, #5a4839 0%, rgba(175, 165, 156, 0.63) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5a4839', endColorstr='#afa59c', GradientType=1); }

.contenedor_tarjeta:nth-child(13) figure .trasera {
  background: #585041;
  background: -moz-linear-gradient(left, #585041 0%, rgba(160, 163, 181, 0.63) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #585041), color-stop(100%, rgba(160, 163, 181, 0.63)));
  background: -webkit-linear-gradient(left, #585041 0%, rgba(160, 163, 181, 0.63) 100%);
  background: -o-linear-gradient(left, #585041 0%, rgba(160, 163, 181, 0.63) 100%);
  background: -ms-linear-gradient(left, #585041 0%, rgba(160, 163, 181, 0.63) 100%);
  background: linear-gradient(to right, #585041 0%, rgba(160, 163, 181, 0.63) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#585041', endColorstr='#a0a3b5', GradientType=1); }

.contenedor_tarjeta:nth-child(14) figure .trasera {
  background: #cd912c;
  background: -moz-linear-gradient(left, #cd912c 0%, rgba(166, 196, 219, 0.63) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #cd912c), color-stop(100%, rgba(166, 196, 219, 0.63)));
  background: -webkit-linear-gradient(left, #cd912c 0%, rgba(166, 196, 219, 0.63) 100%);
  background: -o-linear-gradient(left, #cd912c 0%, rgba(166, 196, 219, 0.63) 100%);
  background: -ms-linear-gradient(left, #cd912c 0%, rgba(166, 196, 219, 0.63) 100%);
  background: linear-gradient(to right, #cd912c 0%, rgba(166, 196, 219, 0.63) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cd912c', endColorstr='#a6c4db', GradientType=1); }

.quienesSomos__article {
  display: flex;
  justify-content: center;
  color: #3CACAE; }

.quienesSomos__article__caja__texto {
  width: 30em; }
  .quienesSomos__article__caja__texto p {
    font-weight: 600;
    font-size: 1.5em;
    text-align: left; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* -----------------------------------------------------------------------------------------
------- ESTILOS DE LA PAGINA index.html
--------- &
--------ENCABEZADO DE TODAS LAS PAGINAS HTML
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.conte {
  width: 100%;
  height: 100vh;
  background-color: #000; }

.conte__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.8;
  z-index: 0; }

/* sobre capa del video */
.conte__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #3CACAE;
  mix-blend-mode: hard-light; }

/* estilos menu */
.nav-link {
  font-size: 1.2em;
  color: #000 !important;
  font-weight: 700; }

.fondo__navBar {
  height: 70px;
  background: #3cacae;
  background: -moz-linear-gradient(45deg, #3cacae 0%, #c8f4f9 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #3cacae), color-stop(100%, #c8f4f9));
  background: -webkit-linear-gradient(45deg, #3cacae 0%, #c8f4f9 100%);
  background: -o-linear-gradient(45deg, #3cacae 0%, #c8f4f9 100%);
  background: -ms-linear-gradient(45deg, #3cacae 0%, #c8f4f9 100%);
  background: linear-gradient(45deg, #3cacae 0%, #c8f4f9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3cacae', endColorstr='#c8f4f9', GradientType=1); }

.navbar li {
  margin: 2em;
  display: inline;
  font-size: 1em;
  /* animación menu */ }
  .navbar li a:hover {
    color: #fff !important; }

.nav ul {
  display: flex;
  top: 30em; }

.collapse {
  align-items: center;
  flex-direction: column; }

.navbar-brand {
  font-weight: 900;
  font-size: 2rem;
  border-radius: 30px; }
  .navbar-brand li {
    margin: 2em;
    display: inline;
    font-size: 1em; }

/* estilo logo */
.conte__logo {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 10;
  cursor: pointer;
  top: 200px; }
  .conte__logo a {
    text-decoration: none; }

/* estilos del titulo    */
.contenedor_titulo {
  align-content: center;
  top: 10em;
  position: absolute;
  right: 0;
  left: 0; }

.conte__logo--titulo h1 {
  color: #fff;
  text-transform: capitalize;
  z-index: 10;
  font-size: 3em;
  font-weight: 700;
  line-height: 1em;
  align-items: center; }

/*---------------------- estilos del menu de la redes ----------------------------------------------------*/
.navRedes__ul {
  display: inline;
  z-index: 10; }
  .navRedes__ul.li {
    list-style: none;
    padding: 2em;
    position: relative; }

.navRedes__ul li a {
  display: inline-block;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s; }
  .navRedes__ul li a:hover {
    transform: scale(0.5) translateY(-15px); }

.navRedes {
  position: absolute;
  display: inline;
  z-index: 10;
  bottom: 10em;
  right: 20px;
  height: -40; }

/*------------------------------------------  estilos del footer de todas las paginas html ------------------------------------------------*/
.form-outline {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important; }

.textofooter {
  margin: 10px !important; }

.fondo__footer {
  background: #c8f4f9;
  background: -moz-linear-gradient(45deg, #c8f4f9 0%, #3cacae 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #c8f4f9), color-stop(100%, #3cacae));
  background: -webkit-linear-gradient(45deg, #c8f4f9 0%, #3cacae 100%);
  background: -o-linear-gradient(45deg, #c8f4f9 0%, #3cacae 100%);
  background: -ms-linear-gradient(45deg, #c8f4f9 0%, #3cacae 100%);
  background: linear-gradient(45deg, #c8f4f9 0%, #3cacae 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8f4f9', endColorstr='#3cacae', GradientType=1); }

/* ---------------------------------------- fin del footer
------------------------------------------*/
/*-----------------------------""""Media-Queries""""--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1000px) {
  .parrafoPrincipalPresentacion {
    background-image: none;
    background-color: #fff; } }
@media only screen and (max-width: 600px) {
  .parrafoPrincipalPresentacion h2 {
    margin-left: 0;
    display: flex;
    justify-content: center; }

  .conte__logo--titulo h1 {
    text-align: center; } }
@media only screen and (max-width: 1000px) {
  .conte__menu--barraMenu li {
    width: 100px !important;
    padding: 1em; }

  .navbar-collapse {
    background-color: #41cabf !important;
    z-index: 11;
    opacity: 0.8;
    text-align: center;
    width: 30px !important; } }
/* esta media query es para mas adelante agregarle java scrip y hacer un menu interactivo (cuando lo aprenda xD ) */
@media only screen and (max-width: 871px) and (min-width: 600px) {
  /* mapa Contáctanos */
  .contenido__form {
    flex-direction: column; }

  .conte__logo--titulo h1 {
    font-size: 2rem; } }
/* modificación para nav redes */
@media only screen and (max-width: 470px) {
  .navRedes__ul li {
    padding: 0px;
    margin: 0; }

  /* para quitar el logo en una resolución reducida,para una mejor experiencia del usuario */
  .conte__logo--icono {
    display: none; }

  .navbar-brand {
    margin-left: 1rem; }

  /* modificación del titulo */
  h1 {
    text-align: center; }

  /* iframe Contáctanos.index */
  .contenido__form iframe {
    width: 200px; } }
@media only screen and (min-width: 250px) and (max-width: 450px) {
  .contenido__form iframe {
    width: 250px; }

  .contenido__form--estilos {
    width: 15rem; } }
/* le quito la animaciones a la pantalla pequeña por que la clase hover no se aplica */
@media screen and (max-width: 992px) {
  figure .trasera {
    backface-visibility: visible;
    transform: perspective(600px) rotateY(0deg); }

  .contenedor_tarjeta:hover figure {
    transform: perspective(600px) rotateY(0deg); }

  .quienesSomos__article__caja__texto p {
    margin-left: 1em;
    margin-right: 0.5em; } }
/* pagina nuestros servicios */
@media screen and (max-width: 950px) {
  .servicios__caja3 {
    display: flex;
    padding: 0;
    position: relative;
    width: 100%;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row; } }
@media screen and (min-width: 200px) and (max-width: 1156px) {
  .servicios__caja1 {
    flex-wrap: wrap;
    flex-direction: column; }

  .servicios__caja2 {
    flex-direction: column; } }
@media screen and (max-width: 700px) {
  .iconos {
    flex-wrap: wrap; } }

/*# sourceMappingURL=style.css.map */
