$color1:#3CACAE;
$color2:#fff;
$color3:#000;
/*------------------------------------------ estilos del contenido main  iNDEX.HTML------------------------------------------------------*/
/* inicio de estilos caja presentación*/

.caja__principal__parrafo p {

          text-align: left;
          max-width: 600px;
          font-size: 23px;
          font-weight: bold;
          margin-top: 50px;
          margin-left: 3.5rem;
          color: $color1;
}

/*background y titulo precentacion*/


.parrafoPrincipalPresentacion {

          background-image: url(/multimedia/imagenes/1.svg),
          url(/multimedia/imagenes/normativa-drones-espana-aesa.jpg);
          background-size: cover;
          background-position: center;
          max-width: 100%;
          .h2{
                    font-weight: 900;
                    display: inline-block;
                    padding-top: 5px;
          }
          
}
/*estilos de icono alusivos a servicios prestados*/
.iconos{
          position: relative;
          display: flex;
          margin-top: 60px;
          margin-bottom: 70px;
          flex-wrap:nowrap ;
          max-width: 300px;
          .iconos_texto{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    max-width: 1000px;
                    }
}
/* carrusel de logotipos de empresas colaboradoras*/
.caja-carrusel{
          width: 300px ;
          height: 300px;
          
}
.titulo-carrusel {
          font-weight: 700 ;
          font-size: 30px ;
          color: $color3;
}
/*fin de estilos caja presentación*/