
.quienesSomos__article {
          display: flex;
          justify-content: center;
          ;
          color: #3CACAE;

}

.quienesSomos__article__caja__texto {
          width: 30em;
           p {
                              font-weight: 600;
                              font-size: 1.5em;
                              text-align: left;
          }
}

